.mapArea {
  width: 300px;
  height: 300px;
  background: #ffc400;
}
#locName {
  width: 100px;
  height: 50px;
  background: #fff;
}
.map {
  width: 250px;
  height: 250px;
}
#Dobong-gu {
  transition: fill 1s ease-in-out;
}
#Dobong-gu:hover {
  fill: blueviolet;
}
