.mapArea {
  width: 300px;
  height: 300px;
  background: #ffc400;
}
#locName {
  width: 100px;
  height: 50px;
  background: #fff;
}
.map {
  width: 700px;
  height: 700px;
}
#도봉구 {
  transition: fill 1s ease-in-out;
}
#도봉구:hover {
  fill: blueviolet;
}
